/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1352px;
  margin: 0 auto;
}

@media (max-width: 1351px) {
  .container {
    padding: 0 15px;
  }
}
.red {
  background: #fb3b64;
}

.red_br {
  border: 4px solid #fb3b64;
}

.red__br-pricing {
  border: 1px solid #fb3b64;
}

.blue {
  background: #08a6e4;
}

.blue_br {
  border: 4px solid #08a6e4;
}

.blue__br-pricing {
  border: 1px solid #08a6e4;
}

.green {
  background: #55dfb4;
}

.green_br {
  border: 4px solid #55dfb4;
}

.green__br-pricing {
  border: 1px solid #55dfb4;
}

.btn-main {
  position: absolute;
  display: inline-block;
  top: 137px;
  left: calc(50% - 220px);
  width: 440px;
  height: 67px;
  background-color: #08a6e4;
  border-radius: 40px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  color: white;
  font: bold 16px Open Sans, sans-serif;
  border: none;
  outline: none;
}

.pricing__btn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  border: none;
  background-color: #eb476e;
  color: white;
  font: bold 13px Open Sans, sans-serif;
  text-decoration: none;
  cursor: pointer;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.form__btn {
  width: 226px;
  height: 57px;
  display: inline-block;
  margin-top: 20px;
  background-color: #08a6e4;
  border: none;
  border-radius: 35px;
  color: white;
  font: bold 13px Open Sans, sans-serif;
  float: right;
}

@media (min-width: 360px) {
  .btn-main {
    top: 230px;
    left: calc(50% - 140px);
    width: 280px;
  }
}
.header {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.header input#hamburger-button {
  display: none;
}
.header span.hamburger-icon {
  display: none;
}

.header__container {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #08a6e4;
  font: 300 32px Raleway, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-menu-link {
  padding: 23px 10px;
  margin: 0 40px;
  font: 700 11px Open Sans, sans-serif;
  color: #a5a5a5;
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu-link:hover {
  color: black;
  border-bottom: 4px solid #08a6e4;
}

@media (max-width: 780px) {
  .header__container {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
  }

  .header-logo {
    color: #08a6e4;
    font: 300 32px Raleway, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }

  input#hamburger-button {
    display: none;
  }

  label {
    background-color: black;
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  label span.hamburger-icon {
    color: black;
  }

  input#hamburger-button:checked ~ .menu-list {
    display: block;
    background-color: white;
    width: 100%;
  }
  input#hamburger-button:checked ~ .menu-list li {
    padding: 10px;
    text-align: center;
  }
  input#hamburger-button:checked ~ .menu-list li:hover {
    background-color: #08a6e4;
    color: white;
  }

  .menu-list {
    display: none;
  }

  .header-menu-link {
    display: none;
  }

  .header-menu-link:hover {
    display: none;
  }
}
.main {
  position: relative;
  background-image: url(../assets/background.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 712px;
  width: 100%;
}

.img-bg {
  display: none;
}

.first-text {
  text-align: center;
  margin-top: 130px;
  width: 100%;
  font: 400 49px Raleway, sans-serif;
  color: black;
}

.second-text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font: bold 16px Open Sans, sans-serif;
  color: black;
}

@media (min-width: 360px) {
  .main {
    background-image: none;
    overflow-x: hidden;
  }

  .img-bg {
    display: block;
    position: absolute;
    top: 58%;
    transform: scale(2);
    width: 100%;
    background-size: contain;
  }

  .first-text {
    font: 400 36px Raleway, sans-serif;
    margin-top: 100px;
  }

  .second-text {
    font: 400 14px Open Sans, sans-serif;
    padding: 0 50px;
  }
}
.popular-sales {
  height: 531px;
}

.text-sales {
  width: 100%;
  text-align: center;
  font: 400 36px Raleway, sans-serif;
  margin-top: 100px;
}

.boxes-sales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box-sales {
  margin-top: 100px;
}

.circle {
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin: 0 auto;
}

.img__box-person::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 52px;
  margin-left: 30px;
  background-image: url(/assets/person.svg);
  background-repeat: no-repeat;
}

.img__box-eye::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 37px;
  margin-top: 14px;
  margin-left: 30px;
  background-image: url(/assets/eye.svg);
  background-repeat: no-repeat;
}

.img__box-catalog::before {
  content: "";
  display: inline-block;
  width: 52px;
  height: 48px;
  margin-top: 6px;
  margin-left: 30px;
  background-image: url(/assets/catalog.svg);
  background-repeat: no-repeat;
}

.box-number {
  font: 800 20px Raleway, sans-serif;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  letter-spacing: 6px;
}

.box-text {
  font: 400 17px Raleway, sans-serif;
  color: #a5a5a5;
  width: 165px;
  padding: 0 15px;
  text-align: center;
  margin: 19px 0 120px 0;
}

.lh1 {
  line-height: 48px;
  vertical-align: 20px;
}

@media (min-width: 360px) {
  .text-sales {
    margin-top: 0;
  }

  .boxes-sales {
    display: flex;
    flex-direction: column;
  }

  .box-sales {
    margin-top: 30px;
  }

  .box-text {
    margin: 19px 0 20px 0;
  }
}
/*# sourceMappingURL=main.css.map */
