:root {
    --color-bg: #F7F7F7;
    --openSansBold11: 700 11px Open Sans, sans-serif;
    --ralewayLight32: 300 32px Raleway, sans-serif;
    --openSansBold16: bold 16px Open Sans, sans-serif;
    --ralewayRegular49: 400 49px Raleway, sans-serif;
    --openSansRegular16: 400 16px Open Sans, sans-serif;
    --relaweyRegular36: 400 36px Raleway, sans-serif;
    --ralewayExtraBold20: 800 20px Raleway, sans-serif;
    --ralewayRegular17: 400 17px Raleway, sans-serif;
    --ralewayExtraBold16: 400 16px Raleway, sans-serif;
    --ralewayBold20: bold 20px Raleway, sans-serif;
    --openSansLight46: 300 46px Open Sans, sans-serif;
    --openSansBold13: bold 13px Open Sans, sans-serif;
    --openSansRegular14: 400 14px Open Sans, sans-serif;
    --ralewayBold21: bold 21px Raleway, sans-serif;
    --ralewayBold12: bold 12px Raleway, sans-serif;
    --openSansSemibold16: 600 16px Open Sans, sans-serif;
    --openSansRegular12: 400 12px Open Sans, sans-serif;
    --ralewayLight26: 300 26px Raleway, sans-serif;
    --openSansRegular11: 400 11px Open Sans, sans-serif;
    --ralewayBold9: bold 9px Raleway, sans-serif;
    --borderRadius41: 41px;
    --borderRadius40: 40px;
    --borderRadius23: 23px;
    --borderRadius35: 35px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.red {
    background: rgba(251, 59, 100, 1);
}

.red_br {
    border: 4px solid rgba(251, 59, 100, 1);
}

.red__br-pricing {
    border: 1px solid rgba(251, 59, 100, 1);
}

.blue {
    background: rgba(8, 166, 228, 1);
}

.blue_br {
    border: 4px solid rgba(8, 166, 228, 1);
}

.blue__br-pricing {
    border: 1px solid rgba(8, 166, 228, 1);
}

.green {
    background: rgba(85, 223, 180, 1);
}

.green_br {
    border: 4px solid rgba(85, 223, 180, 1);
}

.green__br-pricing {
    border: 1px solid rgba(85, 223, 180, 1);
}

.header {
    width: 100vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.header__container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-link {
    padding: 23px 10px;
    margin: 0 40px;
    font: var(--openSansBold11);
    color: rgba(165, 165, 165, 1);
    text-decoration: none;
    text-transform: uppercase;
}

.header-menu-link:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 4px solid rgba(8, 166, 228, 1);
}

.header-logo {
    color: #08A6E4;
    font: var(--ralewayLight32);
    text-decoration: none;
    cursor: pointer;
}

.header-menu-el {
    display: block;
    text-align: center;
}

.main {
    position: relative;
    height: 712px;
    width: 100vw;
}

.img-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
}

.first-text {
    text-align: center;
    margin-top: 130px;
    width: 100%;
    font: var(--ralewayRegular49);
    color: rgba(0, 0, 0, 1);
}

.second-text {
    width: 100vw;
    text-align: center;
    margin-top: 20px;
    font: var(--openSansRegular16);
    color: rgba(0, 0, 0, 1);
}

.btn-main {
    position: absolute;
    display: inline-block;
    top: 137px;
    left: calc(50% - 220px);
    width: 440px;
    height: 67px;
    background-color: rgba(8, 166, 228, 1);
    border-radius: var(--borderRadius40);
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    color: rgba(255, 255, 255, 1);
    font: var(--openSansBold16);
    border: none;
}

.popular-sales {
    height: 531px;
}

.text-sales {
    width: 100%;
    text-align: center;
    font: var(--relaweyRegular36);
    margin-top: 100px;
}

.boxes-sales {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-sales {
    margin-top: 100px;
}

.circle {
    display: block;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin: 0 auto;
}

.img__box-person::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 52px;
    margin-left: 30px;
    background-image: url(/assets/person.svg);
    background-repeat: no-repeat;
}

.img__box-eye::before {
    content: "";
    display: inline-block;
    width: 65px;
    height: 37px;
    margin-top: 14px;
    margin-left: 30px;
    background-image: url(/assets/eye.svg);
    background-repeat: no-repeat;
}

.img__box-catalog::before {
    content: "";
    display: inline-block;
    width: 52px;
    height: 48px;
    margin-top: 6px;
    margin-left: 30px;
    background-image: url(/assets/catalog.svg);
    background-repeat: no-repeat;
}

.box-number {
    font: var(--ralewayExtraBold20);
    width: 100%;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 6px;
}

.box-text {
    font: var(--ralewayRegular17);
    color: rgba(165, 165, 165, 1);
    width: 165px;
    padding: 0 15px;
    text-align: center;
    margin: 19px 0 120px 0;
}

.lh1 {
    line-height: 48px;
    vertical-align: 20px;
}

.benefit {
    height: 1395px;
    padding-top: 105px;
    width: 100vw;
    background-color: #F7F7F7;
}

.benefit_container {
    display: flex;
    flex-direction: column;
}

.benefit__box-primary {
    display: flex;
    width: 1124px;
    height: 370px;
    background-color: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit__box-secondary {
    display: flex;
    flex-direction: row-reverse;
    width: 1124px;
    height: 370px;
    margin-top: 37px;
    background-color: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit__box-text {
    height: 100%;
    width: 562px;
}

.box__title {
    font: var(--relaweyRegular36);
    padding: 90px 0 30px 35px;
}

.box__text {
    font: var(--openSansRegular16);
    padding: 0 35px;
    width: 500px;
}

.box__line {
    outline: none;
    width: 327px;
    margin: 50px 0 0 35px;
}

.benefit__box-img {
    width: 562px;
    position: relative;
}

.box__img {
    position: absolute;
    height: 219px;
    margin-top: 113px;
    margin-left: 57px;
}

.box__img-phone {
    height: 328px;
    margin-top: 29px;
    margin-left: 70px;
}

.box__img-diamond::before {
    content: "";
    position: absolute;
    height: 181px;
    width: 181px;
    margin-top: 78px;
    margin-left: 263px;
    background: rgba(251, 59, 100, 1);
    border-radius: var(--borderRadius41);
    transform: rotate(45deg);
}

.box__img-circle::before {
    content: "";
    position: absolute;
    height: 320px;
    width: 320px;
    margin-top: 12px;
    margin-left: 70px;
    background: rgba(7, 172, 230, 1);
    border-radius: 50%;
}

.benefit__box-third {
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-top: 37px;
}

.benefit__box-text-third {
    width: 623px;
    margin-right: 61px;
    background-color: #FFFFFF;
    border: 1px solid rgba(232, 233, 237, 1);
    border-radius: 5px;
}

.benefit__box-img-third {
    width: 440px;
    background-color: rgba(85, 223, 180, 1);
    border: 1px solid rgba(232, 233, 237, 1);
    border-radius: 5px;
}

.pricing {
    height: 616px;
}

.pricing__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 100px 0 50px 0;
    font: var(--relaweyRegular36);
}

.pricing__offer {
    width: 370px;
    height: 460px;
    border-radius: 18px;
    position: relative;
    text-align: center;
}

.pricing__offer:nth-child(2) {
    box-shadow: 5px 10px 27px #07ACE629;
    transform: scale(1.1);
}

.level {
    font: var(--ralewayBold20);
    padding: 34px 0 14px 0;
}

.price {
    font: var(--openSansLight46);
    color: rgba(251, 59, 100, 1);
}

.price span {
    font: var(--ralewayBold12);
    color: rgba(19, 37, 59, 1);
    display: block;
}

.capacity {
    font: var(--openSansRegular14);
    padding: 69px 0 20px 0;
}

.domain {
    font: var(--openSansRegular14);
}

.email {
    font: var(--openSansRegular14);
    padding: 20px 0 20px 0;
}

.licens {
    font: var(--openSansRegular14);
}

.support {
    font: var(--openSansRegular14);
    padding-top: 20px;
}

.offer__yes::before {
    content: "";
    display: inline-flex;
    width: 16px;
    height: 11px;
    background-image: url(/assets/ckechmark_1.svg);
    background-repeat: no-repeat;
}

.offer__no::before {
    content: "";
    display: inline-flex;
    width: 16px;
    height: 11px;
    background-image: url(/assets/close.svg);
    background-repeat: no-repeat;
}

.pricing__btn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: none;
    background-color: rgba(235, 71, 110, 1);
    color: rgba(255, 255, 255, 1);
    font: var(--openSansBold13);
    text-decoration: none;
    cursor: pointer;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.main__contact {
    margin-top: 235px;
}

.main__contact-container {
    height: 375px;
    width: 900px;
    display: flex;
}

.info__main-contact {
    width: 450px;
}

.info__line-1 {
    font: var(--ralewayRegular49);
}

.info__line-2 {
    font: var(--openSansRegular16);
    padding-top: 22px;
}

.info__email {
    font: var(--openSansSemibold16);
    color: rgba(165, 165, 165, 1);
    padding: 42px 20px 0 0;
    display: inline-block;
}

.info__email::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    padding-right: 10px;
    vertical-align: middle;
    background-image: url(/assets/mail_icon.svg);
    background-repeat: no-repeat;
}

.info__phone {
    font: var(--openSansSemibold16);
    color: rgba(165, 165, 165, 1);
    display: inline-block;
}

.info__phone::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    padding-right: 10px;
    vertical-align: middle;
    background-image: url(/assets/phone_icon.svg);
    background-repeat: no-repeat;
}

.form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.form__row {
    display: inline-block;
    margin-bottom: 30px;
}

.form__name {
    font: var(--openSansBold11);
    letter-spacing: 3.28px;
    color: rgba(8, 166, 228, 1);
    text-transform: uppercase;
}

.form__control {
    height: 57px;
    border: none;
    border-bottom: 1px solid rgba(149, 152, 154, 1);
    outline: none;
    width: 100%;
}

.checkbox {
    display: flex;
}

.checkbox__input {
    flex-shrink: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(149, 152, 154, 1);
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox__input:checked {
    background: url(/assets/checkmark.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox__text {
    font: var(--openSansRegular12);
    color: rgba(112, 112, 112, 1);
}

.form__btn {
    width: 226px;
    height: 57px;
    display: inline-block;
    margin-top: 20px;
    background-color: rgba(8, 166, 228, 1);
    border: none;
    border-radius: 35px;
    color: rgba(255, 255, 255, 1);
    font: var(--openSansBold13);
    float: right;
}

.footer {
    height: 90px;
    margin-top: 100px;
    background-color: rgba(247, 247, 247, 1);
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.16);
}

.container__footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font: var(--ralewayLight26);
    text-decoration: none;
    cursor: pointer;
    color: rgba(8, 166, 228, 1);
    padding-bottom: 6px;
}

.footer__left-text {
    font: var(--openSansRegular11);
    color: rgba(165, 165, 165, 1);
}

.footer__right-facebook {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding-right: 20px;
    background-image: url(/assets/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__right-twitter {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/assets/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
}