* {
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.red {
    background: rgba(251, 59, 100, 1);
}

.red_br {
    border: 4px solid rgba(251, 59, 100, 1);
}

.red__br-pricing {
    border: 1px solid rgba(251, 59, 100, 1);
}

.blue {
    background: rgba(8, 166, 228, 1);
}

.blue_br {
    border: 4px solid rgba(8, 166, 228, 1);
}

.blue__br-pricing {
    border: 1px solid rgba(8, 166, 228, 1);
}

.green {
    background: rgba(85, 223, 180, 1);
}

.green_br {
    border: 4px solid rgba(85, 223, 180, 1);
}

.green__br-pricing {
    border: 1px solid rgba(85, 223, 180, 1);
}