* {
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;

}

@include respond(small) {
    .container {
        padding: 0 15px;
    }
}

@include respond(medium) {
    .container {
        padding: 0 15px;
    }
}

@include respond(large) {
    .container {
        padding: 0 15px;
    }
}

@include respond(big) {
    .container {
        padding: 0 15px;
    }
}


.red {
    background: $color-red1;
}

.red_br {
    border: 2px solid $color-red1;
    background: $color-red1;
}

.red__br-pricing {
    border: 1px solid $color-red1;
}

.blue {
    background: $color-blue;
}

.blue_br {
    border: 2px solid $color-blue;
    background: $color-blue;
}

.blue__br-pricing {
    border: 1px solid $color-blue;
}

.green {
    background: $color-green;
}

.green_br {
    border: 2px solid $color-green;
    background: $color-green;
}

.green__br-pricing {
    border: 1px solid $color-green;
}