@mixin flex_max($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;

}

@mixin flex_min($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

@mixin respond($breakpoint) {
    @if($breakpoint==small) {
        @media screen and (max-width: 500px) and (min-width: 250px) {
            @content;
        }
    }

    @else if($breakpoint==medium) {
        @media screen and (max-width: 781px) and (min-width: 501px) {
            @content;
        }
    }

    @else if($breakpoint==large) {
        @media screen and (max-width: 1024px) and (min-width: 782px) {
            @content;
        }
    }

    @else if($breakpoint==big) {
        @media screen and (max-width: 1351px) and (min-width: 1024px) {
            @content;
        }
    }
}