.btn-main {
    position: absolute;
    display: inline-block;
    top: 137px;
    left: calc(50% - 220px);
    width: 440px;
    height: 67px;
    background-color: $color-blue;
    border-radius: $borderRadius40;
    box-shadow: 5px 10px 14px $color-blue3;
    color: $color-white;
    font: $openSansBold16;
    border: none;
    outline: none;
}

.pricing__btn {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: none;
    background-color: $color-red2;
    color: $color-white;
    font: $openSansBold13;
    text-decoration: none;
    cursor: pointer;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.form__btn {
    width: 226px;
    height: 57px;
    display: inline-block;
    margin-top: 20px;
    background-color: $color-blue;
    border: none;
    border-radius: 35px;
    color: $color-white;
    font: $openSansBold13;
    float: right;
}

@include respond(small) {
    .btn-main {
        top: 230px;
        left: calc(50% - 140px);
        width: 280px;
    }
}

@include respond(medium) {
    .btn-main {
        top: 230px;
        left: calc(50% - 175px);
        width: 350px;
    }

    .pricing__btn {
        width: 250px;
    }
}

@include respond(large) {
    .btn-main {
        top: 137px;
        left: calc(50% - 195px);
        width: 390px;
    }

    .pricing__btn {
        width: 100px;
    }
}