.header {
    width: 100%;
    box-shadow: 0px 3px 6px $color-black1;
}

.menu__btn {
    display: none;
}

.menu__toggle {
    display: none;

    span {
        width: 20px;
        height: 2px;
        display: block;
        margin-bottom: 4px;
        background-color: $color-blue;
        transition: .4s all linear;
    }
}

.menu-list {
    display: none;
}

.header__container {
    height: 70px;
    @include flex_max(row, space-between, center);

}

.header-logo {
    color: $color-blue;
    font: $ralewayLight32;
    text-decoration: none;
    cursor: pointer;
}

.menu-list {
    @include flex_max(row, space-between, center);
}

.header-menu-link {
    padding: 23px 10px;
    margin: 0 40px;
    font: $openSansBold11;
    color: $color-grey1;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: $color-black;
        border-bottom: 4px solid $color-blue;
    }
}

.header-menu-link:nth-last-child(1) {
    padding-right: 0;
}

@include respond(small) {

    .header__container {
        width: 100%;
        @include flex_min(row);
    }

    .menu__toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .menu-list {
        position: absolute;
        left: 0;
        top: 73px;
        flex-direction: column;
        align-items: flex-start;
        background-color: $color-white;
        width: 100%;
        padding-bottom: 20px;
        display: none;
        z-index: 2;
    }

    .header .menu__btn:checked~.menu-list {
        display: block;
    }


    .header .menu__btn:checked~.menu__toggle {
        span {
            &:nth-of-type(1) {
                transform: rotate(45deg) translate(3px, 5px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(3px, -5px);
            }
        }
    }

    .header-menu-el {
        padding: 0;
    }

    .header-menu-link {
        display: block;
        padding: 10px 20px;
        margin: 0 20px;

        &:hover {
            color: $color-black;
            border-bottom: none;
        }
    }
}


@include respond(medium) {

    .header__container {
        width: 100%;
        @include flex_min(row);
    }

    .menu__toggle {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .menu-list {
        position: absolute;
        left: 0;
        top: 73px;
        flex-direction: column;
        text-align: center;
        background-color: $color-white;
        width: 100%;
        padding-bottom: 20px;
        display: none;
        z-index: 2;
    }

    .header .menu__btn:checked~.menu-list {
        display: block;
    }


    .header .menu__btn:checked~.menu__toggle {
        span {
            &:nth-of-type(1) {
                transform: rotate(45deg) translate(3px, 5px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(3px, -5px);
            }
        }
    }

    .header-menu-el {
        padding: 0;
    }

    .header-menu-link {
        display: block;
        padding: 12px 20px;
        margin: 0 20px;
        font: $openSansBold14;

        &:hover {
            color: $color-black;
            border-bottom: none;
        }
    }
}