.header {
    width: 100vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    input#hamburger-button {
        display: none;
    }

    span.hamburger-icon {
        display: none;
    }
}

.header__container {
    height: 70px;
    @include flex_max(row, space-between, center);

}

.header-logo {
    color: $color-blue;
    font: $ralewayLight32;
    text-decoration: none;
    cursor: pointer;
}