.main {
    position: relative;
    background-image: url(../assets/background.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 712px;
    width: 100%;
}

.img-bg {
    display: none;
}



.first-text {
    text-align: center;
    margin-top: 130px;
    width: 100%;
    font: $relaweyRegular49;
    color: $color-black;
}

.second-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font: $openSansBold16;
    color: $color-black;
}

@include respond(small) {
    .main {
        background-image: none;
        overflow: hidden;
    }

    .img-bg {
        display: block;
        position: absolute;
        top: 58%;
        transform: scale(2);
        width: 100%;
        background-size: contain;
        overflow-y: hidden;
    }

    .first-text {
        font: $relaweyRegular36;
        margin-top: 100px;
    }

    .second-text {
        font: $openSansRegular14;
        padding: 0 50px;

    }
}

@include respond(medium) {
    .main {
        background-image: none;
        overflow: hidden;
    }

    .img-bg {
        display: block;
        position: absolute;
        top: 58%;
        transform: scale(2);
        width: 100%;
        background-size: contain;
        overflow-y: hidden;
    }

    .first-text {
        font: $relaweyRegular40;
        margin-top: 100px;
    }

    .second-text {
        font: $openSansRegular14;
        padding: 0 50px;

    }
}

@include respond(large) {


    .first-text {
        font: $relaweyRegular44;
        margin-top: 130px;
    }

    .second-text {
        font: $openSansRegular14;
        padding: 0;
        margin-top: 20px;

    }
}