.benefit {
    height: 1395px;
    padding-top: 105px;
    width: 100vw;
    background-color: $color-bg;
}

.benefit_container {
    @include flex_min(column)
}

.benefit__box-primary {
    display: flex;
    width: 1124px;
    height: 370px;
    background-color: $color-white;
    border: 1px solid $color-wite-blue;
    border-radius: 5px;
}

.benefit__box-secondary {
    display: flex;
    flex-direction: row-reverse;
    width: 1124px;
    height: 370px;
    margin-top: 37px;
    background-color: $color-white;
    border: 1px solid $color-wite-blue;
    border-radius: 5px;
}

.benefit__box-text {
    height: 100%;
    width: 562px;
}

.box__title {
    font: $relaweyRegular36;
    padding: 90px 0 30px 35px;
}

.box__text {
    font: $openSansRegular16;
    padding: 0 35px;
    width: 500px;
}

.box__line {
    outline: none;
    width: 327px;
    margin: 50px 0 0 35px;
}

.benefit__box-img {
    width: 562px;
    position: relative;
}

.box__img {
    position: absolute;
    height: 219px;
    margin-top: 113px;
    margin-left: 57px;
}

.box__img-phone {
    height: 328px;
    margin-top: 29px;
    margin-left: 70px;
}

.box__img-diamond::before {
    content: "";
    position: absolute;
    height: 181px;
    width: 181px;
    margin-top: 78px;
    margin-left: 263px;
    background: rgba(251, 59, 100, 1);
    border-radius: $borderRadius41;
    transform: rotate(45deg);
}

.box__img-circle::before {
    content: "";
    position: absolute;
    height: 320px;
    width: 320px;
    margin-top: 12px;
    margin-left: 70px;
    background: rgba(7, 172, 230, 1);
    border-radius: 50%;
}

.benefit__box-third {
    display: flex;
    justify-content: space-between;
    height: 370px;
    margin-top: 37px;
}

.benefit__box-text-third {
    width: 623px;
    margin-right: 61px;
    background-color: $color-white;
    border: 1px solid $color-wite-blue;
    border-radius: 5px;
}

.benefit__box-img-third {
    width: 440px;
    background-color: rgba(85, 223, 180, 1);
    border: 1px solid $color-wite-blue;
    border-radius: 5px;
}