$color-bg: #F7F7F7;
$color-blue: rgba(8, 166, 228, 1);
$color-black:rgba(0, 0, 0, 1);
$color-grey1:rgba(165, 165, 165, 1);
$color-grey2:rgba(149, 152, 154, 1);
$color-grey3:rgba(112, 112, 112, 1);
$color-white:#FFFFFF;
$color-wite-blue:#E8E9ED;