$color-bg: rgb(247, 247, 247);
$color-blue: rgba(8, 166, 228, 1);
$color-blue1:rgba(7, 172, 230, 1);
$color-blue2:rgba(19, 37, 59, 1);
$color-green:rgba(85, 223, 180, 1);
$color-black:rgba(0, 0, 0, 1);
$color-black1: rgba(0, 0, 0, 0.16);
$color-grey1:rgba(165, 165, 165, 1);
$color-grey2:rgba(149, 152, 154, 1);
$color-grey3:rgba(112, 112, 112, 1);
$color-red1: rgba(251, 59, 100, 1);
$color-white:rgb(255, 255, 255);
$color-wite-blue:rgb(232, 233, 237);