@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

$openSansBold11: 700 11px Open Sans,
sans-serif;
$ralewayLight32: 300 32px Raleway,
sans-serif;
$openSansBold16: bold 16px Open Sans,
sans-serif;
$openSansBold14: bold 14px Open Sans,
sans-serif;
$relaweyRegular49: 400 49px Raleway,
sans-serif;
$relaweyRegular40: 400 40px Raleway,
sans-serif;
$relaweyRegular44: 400 44px Raleway,
sans-serif;
$ralewayRegular30: 400 30px Raleway,
sans-serif;
$openSansRegular16: 400 16px Open Sans,
sans-serif;
$relaweyRegular36: 400 36px Raleway,
sans-serif;
$ralewayExtraBold20: 800 20px Raleway,
sans-serif;
$ralewayRegular17: 400 17px Raleway,
sans-serif;
$ralewayExtraBold16: 400 16px Raleway,
sans-serif;
$ralewayBold20: bold 20px Raleway,
sans-serif;
$openSansLight46: 300 46px Open Sans,
sans-serif;
$openSansBold13: bold 13px Open Sans,
sans-serif;
$openSansRegular14: 400 14px Open Sans,
sans-serif;
$ralewayBold21: bold 21px Raleway,
sans-serif;
$ralewayBold12: bold 12px Raleway,
sans-serif;
$openSansSemibold16: 600 16px Open Sans,
sans-serif;
$openSansRegular12: 400 12px Open Sans,
sans-serif;
$ralewayLight26: 300 26px Raleway,
sans-serif;
$openSansRegular11: 400 11px Open Sans,
sans-serif;
$ralewayBold9: bold 9px Raleway,
sans-serif;